.optionDisplay {
    position: absolute;
    color: white;
    width: 100%;
    margin: 15em auto;
}

.options {
    display: flex;
    margin: 0em 4em;
}

.option,
.firstOption,
.lastOption {
    max-width: 433px;
}
.option {
    margin: 0 auto;
}
/*
.firstOption {
    margin: 0 auto 0 0;
}
.lastOption {
    margin: 0 0 0 auto;
}
*/

.rating {
    color: black;
}

h3 {
    display: table-caption;
    margin-bottom: 1em;
}

.optionTitle {
    margin: 4em;
}
.underline {
    border-bottom: 4px solid;
    width: 3.2em;
}

/*create media breakpoint*/

@media (max-width: 1100px) {
    .options {
        display: block;
        overflow-y: auto;
        height: 30em;
    }
}
