.buyNow{
    position: absolute;
    color: white;
    margin: 25em auto;
    padding: 3em;
    width: 100%;
}
.buyNowText{
    float: left;
    padding-left: 2em;
}
.buyButton{

    float: right;
    padding-top: 4em;
}