.slide1{

    background-image: url('../../images/Image 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}
.slide2{

    background-image: url('../../images/Image 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}
.slide3{

    background-image: url('../../images/Image 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}
.carouselArea{

    min-height: 20em;
}