.emailLink {
    padding: 10em;
    display: flex;
}
.footer {
    position: absolute;
    text-align: center;
    color: white;
    margin: auto;
    width: 100%;
}
.support {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
@media (max-width: 940px) {
    .support {
        font-size: 4vw;
    }
    .emailLink {
        padding: 5em 0;
        width: max-content;
        margin: 10em auto;
    }
    .footer {
        margin: auto;
    }
}
