.soundText {
    color: white;
    max-width: 67%;
    padding: 18em 3em 3em 3em;
    margin: 0px;
}
.speakerDisplay {
    position: relative;
    width: 450px;
    height: max-content;
    bottom: 28em;
    left: 65%;
    cursor: none;
}
.rSpeaker {
    margin: 0em 0px 0px 0px;
}
.lSpeaker {
    margin: -18em 0 0 0;
}
.lSpeaker,
.rSpeaker {
    pointer-events: none;
    width: 50%;
}

@media (max-width: 1200px) {
    .speakerDisplay {
        position: relative;
        width: 450px;
        height: max-content;
        bottom: 1em;
        left: 0%;
        margin-bottom: 3em;
        cursor: pointer;
    }
    .soundText {
        color: white;
        max-width: 67%;
        padding: 14em 3em 3em 3em;
        margin: 0px;
    }
    /*temporarily disable interactive cursor's mouse tracking for mobile */
    .cursorSound {
        margin: 0px !important;
        transform: none !important;
        opacity: 1 !important;
        top: 246px !important;
        left: 144px !important;
    }
}
