.soundText {
    color: white;
    width: 60%;
    padding: 18em 3em 3em 3em;
}
.speakerDisplay {
    max-width: 500px;
    position: absolute;
    right: 13%;
    transform: translateY(-23em);
    width: 34vw;
}
.rSpeaker {
    left: 59%;
    transform: translateY(8em);
}
.lSpeaker {
    transform: translateY(-6em);
}
.lSpeaker,
.rSpeaker {
    max-width: 344px;
    position: absolute;
    width: 26vw;
}
