:root {
    --xpos: 0;
    --ypos: 0;
}

.imageBg {
    background-image: url("../../images/Image 4.png");
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position-x: 100%;
    background-position-y: 60%;
    min-height: 1080px;
    mask-repeat: no-repeat;
    mask-image: radial-gradient(circle closest-side, black 50%, transparent 50.5%) !important;
    mask-position:var(--x,0) var(--y,0) !important;
    
    /*transform: translate(-50%, -50%) !important;*/
    
}
.imageBg::before {
    mask-position: 0px 0px !important;
}
