.overflow {
    overflow: hidden;
}

.subTitle {
    width: 831px;
    margin: 1em auto;
}
.smallText {
    width: 433px;
    margin: 1em auto;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
/*the vairous text dimensions for the section content*/
.s22 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 2.4px;
}
.s24 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 2.4px;
}
.s32 {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 2.2px; /*3.2*/
}

.s35 {
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 3.5px;
}
.s35-43 {
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 3.5px;
}

.s37 {
    font-size: 37px;
    line-height: 45px;
    letter-spacing: 3.7px;
}
.s45 {
    font-size: 45px;
    line-height: 71px;
    letter-spacing: 4.5px;
}

.s47 {
    font-size: 47px;
    line-height: 57px;
    letter-spacing: 4.7px;
}
.s47-64 {
    font-size: 47px;
    line-height: 64px;
    letter-spacing: 4.7px;
}

.s48 {
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 4.8px;
}

.s51-62 {
    font-size: 51px;
    line-height: 62px;
    letter-spacing: 5.1px;
}
.s51-61 {
    font-size: 51px;
    line-height: 61px;
    letter-spacing: 5.1px;
}
.s51-80 {
    font-size: 51px;
    line-height: 80px;
    letter-spacing: 5.1px;
}

.s65 {
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 6.5px;
}
.s74 {
    font-size: 74px;
    line-height: 90px;
    letter-spacing: 7.4px;
}
.s134 {
    font-size: 134px;
    line-height: 164px;
    letter-spacing: 13.4px;
}
.whiteText {
    color: white;
}
.blackText {
    color: black;
}
.redText {
    color: #d34848;
}

.blueText {
    color: #1fe1e9;
}

.yellowText {
    color: #ffb33f;
}

.purpleText {
    color: #5e33d1;
}

.blackText {
    color: #191919;
}

@media (max-width: 1400px) {
    .s47,
    .s47-64 {
        font-size: 6vw;
    }
    .s51-62,
    .s51-61,
    .s51-80 {
        font-size: 5vw;
    }
    .s74 {
        font-size: 6vw;
    }
    .s134 {
        font-size: 6vw;
    }
}
@media (max-width: 820px) {
    .s37 {
        font-size: 5vw;
    }
    .s45 {
        font-size: 5vw;
    }
}
@media (max-width: 565px) {
    .s22 {
        font-size: 4vw;
    }
    .s45 {
        font-size: 4.5vw;
    }

    .s65 {
        font-size: 12vw;
    }

}
