button{
    color: white;
    border: none;
    background: none;
}
.tryNowButton{
    float: right;
}
.expConMenu{
    float: left;
    color: white;
    text-align: left;
    letter-spacing: 4.8px;
    opacity: 1;
    font-size: 48px;
    line-height: 57px;
}
.sectionMenu{
    color: white;
    padding: 1em;
    position: absolute;
    z-index: 1;
    width: 100%;
}
