.reviewLayout {
    padding-top: 17em;
}
.userReviews {
    float: left;
    width: 68%;
}
.reviewsImages {
    max-width: 500px;
    float: left;
    position: relative;
    left: 5em;
    top: -5em;
}
.topSpeaker {
    margin: auto auto auto -6em;
}
.bottomSpeaker {
    margin: -17em auto;
}
.topSpeaker,
.bottomSpeaker {
    width: 100%;
    height: min-content;
}


@media (max-width: 1600px) {
    .reviewLayout {
        padding-top: 0em;
    }
    .reviewsImages {
        max-width: 170px;
        position: relative;
        left: 47vw;
        top: 6em;
    }
    .topSpeaker,
    .bottomSpeaker {
        width: 100%;
        height: min-content;
        position: relative;
    }
    .topSpeaker {
        margin: auto auto auto -2em;
    }
    .bottomSpeaker {
        top: -2em;
    }
    .userReviews {
        float: left;
        width: 100%;
    }
}
