.reviewLayout {
    padding-top: 17em;
}
.userReviews {
    float: left;
}
.reviewsImages {
    max-width: 20%;
    float: left;
    margin: -2em auto auto 5em;
}
.topSpeaker {
    margin: auto auto auto -6em;
}
.bottomSpeaker {
    margin: -17em auto;
}
.topSpeaker,
.bottomSpeaker {
    width: 100%;
    height: min-content;
}

@media (max-width: 1400px) {
    .reviewsImages {
        display: flex;
        margin: -8em auto;
    }
    .topSpeaker,
    .bottomSpeaker {
        margin: -4em auto;
        width: 200%;
    }
}
